{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
| Shopping Bag
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!----- Overlay ----->
<div class="overlay"></div>
<!----- Shopping Bag ----->
<div class="container bag-container my-5">
    <div class="row">
        <div class="col">
            <h1 class="lttr-space">Shopping Bag</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive table-sm">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product Info</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <!----- Item Details (Name, Size, SKU, Price, Qty Form, Subtotal) ----->
                    <tr>
                        <td class="w-25 p-4">
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="img-fluid" src="{{ item.product.image.url}}" alt="{{ item.product.name }}">
                            </a>
                        </td>
                        <td class="py-3">
                            <p class="font-25 my-0 lttr-space">{{ item.product.name }}</p>
                            <p>Size: <span
                                    class="text-red font-25">{% if item.product.has_size %}{{ item.size|upper }}{% else %}One
                                    Size{% endif %}</span></p>
                            <p class="text-red">{{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="font-25 my-0 lttr-space">£{{ item.product.price }}</p>
                        </td>
                        <td class="w-25 py-3">
                            <p class="font-25 my-0 lttr-space">{% include 'bag/quantity-form.html' %}</p>
                        </td>
                        <td class="py-3">
                            <p class="font-25 my-0 lttr-space">£{{ item.product.price | calc_subtotal:item.quantity  }}
                            </p>
                        </td>
                        <!----- Remove Item btn ----->
                        <td class="py-4">
                            <a class="remove-item p-1 btt-link" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">
                                <i class="fa-solid fa-trash fa-lg text-red"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <!----- Grand Total/Delivery Calculation ----->
                        <td colspan="6" class="pt-5 text-right">
                            <hr>
                            <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6><i class="fa-solid fa-truck"></i> Delivery:
                                {% if free_delivery_delta > 0 %}
                                £{{ delivery|floatformat:2 }}
                                {% else %}
                                <span class="text-red font-25">FREE</span>
                                {% endif %}</h6>
                            <h3 class="mt-4 lttr-space">Total: <span
                                    class="text-red">£{{ grand_total|floatformat:2 }}</span></h3>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-red">
                                FREE delivery on orders over <span
                                    class="font-25">£{{ free_delivery_threshold }}</span>.<br>
                                Spend a further <span class="font-25">{{ free_delivery_delta }}</span> to get FREE
                                delivery.
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!----- Keep Shopping btn ----->
                        <td>
                            <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left text-red"></i>
                                </span>
                                <span class="lttr-space">Keep Shopping</span>
                            </a>
                        </td>
                        <!----- Secure Checkout btn ----->
                        <td colspan="5" class="text-right">
                            <a href="#" class="btn btn-black rounded-0 btn-lg slanted-div bg-earth w-50" id="checkout-btn">
                                <span class="text-uppercase lttr-space">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock text-black"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="font-25">Your bag is empty</p>
            <!----- Keep Shopping btn ----->
            <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left text-red"></i>
                </span>
                <span class="lttr-space font-25">Keep shopping</span>
            </a>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'bag/includes/quantity-input-script.html' %}

<!----- Update product qty and/or remove products script ----->

<script type="text/javascript">
    // Update quantity on click
    $('.update-qty').click(function (e) {
        var form = $('.update-form');
        form.submit();
    })

    // Remove item on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            })

    })
</script>

{% endblock %}