{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div id="subtitle" class="col-12 mb-auto text-center">
            <h1 class="display-3 my-5 lttr-space">
                Tattoo Inspired<br>Apparel
            </h1>
            <div class="my-5">
                <h4><a href="#" class="btn btn-lg rounded-3 text-uppercase mb-auto w-25 shop-now-button lttr-space">Shop Now</a></h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}