{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
| Secure Checkout
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="lttr-space">Secure Checkout</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <!----- Customers Bag Items, Details ----->
        <div class="col-12 col-lg-6 order-lg-last">
            <h3 class="lttr-space mb-4">Your Bag Summary:</h3>
            <div class="shopping-bag-wrapper">
                {% for item in bag_items %}
                <div class="row">
                    <!----- Item Image ----->
                    <div class="col-3 mb-5">
                        <a href="{% url 'product_detail' item.product.id %}">
                            {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" class="w-100" alt="{{ item.product.name }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="w-100" alt="{{ item.product.name }}">
                            {% endif %}
                        </a>
                    </div>
                    <!---- Item Details (Name, Colour, Size, Qty) ------>
                    <div class="col-6">
                        <p class="h4">{{ item.product.name }}</p>
                        <p>Colour: <span class="text-red">{{ item.product.colour }}</span></p>
                        <p>Size: {% if item.product.has_size %}
                            <span class="text-red">{{ item.size | upper }}</span>
                            {% else %}
                            <span class="text-red">One Size</span>
                            {% endif %}</p>
                        <p>Qty: <span class="text-red">{{ item.quantity }}</span></p>
                    </div>
                    <!----- Item Price Subtotal ----->
                    <div class="col-2 text-right h4 lttr-space">
                        £{{ item.product.price | calc_subtotal:item.quantity }}
                    </div>
                    <!----- Return to bag link option for editing bag ----->
                    <div class="col-1">
                        <a href="{% url 'view_bag' %}" class="text-red hover-red">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col-6">
                        <p>Order Subtotal:</p>
                        <p>Delivery:</p>
                    </div>
                    <div class="col-6">
                        <p>£{{ total | floatformat:2 }}</p>
                        <p>£{{ delivery | floatformat:2 }}</p>
                    </div>
                </div>
                <!----- HR ----->
                <div class="row">
                    <div class="col-12">
                        <hr class="mt-0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="h4">Order Total:</p>
                    </div>
                    <div class="col-6 lttr-space">
                        <p class="h4 lttr-space text-red">£{{ grand_total | floatformat:2 }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!----- Checkout Form ----->
        <div class="col-12 col-lg-6">
            <p class="text-red">Please fill out the form below to complete your order.</p>
            <form action="{% url 'checkout' %}">
                {% csrf_token %}
                <!----- Customer Info ----->
                <fieldset class="mb-3">
                    <legend class="fieldset-label h3 lttr-space">Customer Information:</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <!------ Delivery Info ----->
                <fieldset class="mb-3">
                    <legend class="fieldset-label h3 lttr-space">Delivery Information:</legend>
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.street_address_1 | as_crispy_field }}
                    {{ order_form.street_address_2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    <!------ Save Delivery Info if signed in ----->
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-red hover-red" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-red hover-red" href="{% url 'account_login' %}">login</a> to save this
                            information
                        </label>
                        {% endif %}
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label text-black w-auto h3 lttr-space">Payment:</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}