{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
| Secure Checkout
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="lttr-space">Secure Checkout</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Please fill out the form below to complete your order.</p>
            <form action="{% url 'checkout' %}">
                {% csrf_token %}
                <fieldset class="mb-3">
                    <legend class="fieldset-label h3 lttr-space">Customer Information:</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="mb-3">
                    <legend class="fieldset-label h3 lttr-space">Delivery Information:</legend>
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.street_address_1 | as_crispy_field }}
                    {{ order_form.street_address_2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-red hover-red" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-red hover-red" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}