html {
    height: 100%;
}

body {
    background: url('/media/FLASH-BANNER.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #D5A761;
    font-family: 'Big Shoulders Display', cursive;
}

#topnav {
    background-color: #000;
}

.brand-titles {
    letter-spacing: 2px;
    font-size: 40px;
    color: rgb(243, 239, 239);
}

.lttr-space {
    letter-spacing: 2px;
}

.text-earth {
    color: #D5A761;
}

.text-red {
    color: #A40303;
}

.nav-link {
    padding: 2px;
    margin: 2px;
}

.font-25 {
    font-size: 25px;
}

.dropdown-menu a {
    font-size: 20px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #D5A761;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #A40303;
    color: white;
    min-width: 200px;
    font-size: 1.5em;
}

.shop-now-button:hover {
    color: #000;
    background-color: #D5A761;
    transition: 0.3s;
}

.btn-black {
    background: black;
    color: white;
}

/* ----- Hover Underline Animation ----- */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #A40303;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

/* ----- Sale Btn ----- */
#sale {
    background-color: #A40303;
    color: #fff;
    -moz-transform: skew(-14deg, 0deg);
    -webkit-transform: skew(-14deg, 0deg);
    -o-transform: skew(-14deg, 0deg);
    -ms-transform: skew(-14deg, 0deg);
    transform: skew(-14deg, 0deg);
    padding: 2px 3px;
    width: 70px;
}

#sale:hover {
    background-color: #D5A761;
    color: #000;
    transition: 0.3s;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 160px;
    }

    .nav-link:hover {
        color: #A40303;
    }

}

/* For screen width of 992px and less  */
@media (max-width: 992px) {
    .navbar {
        background-color: #000;
    }

    .navbar a {
        color: white;
    }

    #search-bar {
        width: 50%;
        margin: auto;
    }

    .dropdown-menu {
        width: fit-content;
    }

    .dropdown-menu a {
        color: #000;
    }

    body {
        background: url('/media/FLASH-SM-BANNER.png') no-repeat center center fixed;
        background-size: cover;
        background-position-y: 70px;
    }

    #subtitle {
        margin-top: 320px;
        border-radius: 3px;
    }

    #subtitle h1 {
        font-size: 90px;
    }
}

/* For screen width 450px and less  */
@media (max-width: 450px) {
    #search-bar {
        width: 100%;
    }

    body {
        background-size: cover;
        background-position-y: 70px;
        background-position-x: left;
    }

    #subtitle {
        margin-top: 240px;
    }

    #subtitle h1 {
        font-size: 3rem;
    }
}