{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!----- Overlay ----->
<div class="overlay"></div>
<div class="container container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="logo-font my-4 lttr-space">My Profile</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3 class="lttr-space">Delivery Details:</h3>
            <form action="{% url 'profile' %}" method="POST" id="profile_update_form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn float-right rounded-0 slanted-div bg-earth font-25 hover-bg-black text-uppercase">Update Profile</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h3 class="lttr-space">Order History:</h3>
            {{ orders }}
        </div>
    </div>

{% endblock %}