{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Overlay -->
<div class="overlay"></div>
<div class="container container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="logo-font my-4 lttr-space">My Profile</h1>
            <hr>
        </div>
    </div>
    <!-- Profile update page -->
    <div class="row">
        <!-- Delivery Details -->
        <div class="col-12 col-lg-6">
            <h3 class="lttr-space mb-3">Delivery Details:</h3>
            <form action="{% url 'profile' %}" method="POST" id="profile_update_form">
                {% csrf_token %}
                {{ form|crispy }}
                <button
                    class="btn float-right rounded-0 slanted-div bg-earth font-25 hover-bg-black text-uppercase">Update
                    Profile</button>
            </form>
        </div>
        <!-- Order History -->
        <div class="col-12 col-lg-6">
            <h3 class="lttr-space mb-3">Order History:</h3>
            <div class="table-responsive order-history">
                <table class="table table-sm ">
                    <thead>
                        <tr>
                            <th>Order no.:</th>
                            <th>Order Date:</th>
                            <th>Purchased Items:</th>
                            <th>Order Total:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <!-- Display order_number to 6 digits -->
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="list-item">
                                        <a href="{% url 'product_detail' item.product.id %}" class="text-black no-underline hover-red">{{ item.product.name }}</a>
                                        <span class="text-red">({% if item.product.has_size %}
                                            {{ item.product_size|upper }}
                                            {% else %}
                                            One Size{% endif %})
                                        </span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}