<ul class="list-group list-group-horizontal list-unstyled">
  <li class="dropdown">
    <a class="nav-link text-black font-25 dropdown-toggle" href="#" id="all-products-link"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
      <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price, low to high</a>
      <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">Price, high to low</a>
    </div>
  </li>

  <li class="dropdown">
    <a class="nav-link text-black font-25 dropdown-toggle ml-4" href="#" id="clothing-link" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Colour
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
      <a href="{% url 'products' %}" class="dropdown-item">Black</a>
      <a href="{% url 'products' %}" class="dropdown-item">Grey</a>
      <a href="{% url 'products' %}" class="dropdown-item">White</a>
    </div>
  </li>
</ul>
