<ul class="list-group list-group-horizontal list-unstyled">
  <li class="dropdown">
    <a class="nav-link text-black font-25 dropdown-toggle" href="#" id="all-products-link"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
      <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item {% if current_sorting == 'price_asc' %}text-red{% endif %}">Price (low to high)</a>
      <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item {% if current_sorting == 'price_desc' %}text-red{% endif %}">Price (high to low)</a>
      <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item {% if current_sorting == 'name_asc' %}text-red{% endif %}">Name (A-Z)</a>
      <a href="{% url 'products' %}?sort=name&direction=desc" class="dropdown-item {% if current_sorting == 'name_desc' %}text-red{% endif %}">Name (Z-A)</a>
    </div>
  </li>

  <li class="dropdown">
    <a class="nav-link text-black font-25 dropdown-toggle ml-4" href="#" id="clothing-link" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Colour
    </a>
    <div class="dropdown-menu border-0" id="colour-selector" aria-labelledby="clothing-link">
      {% for colour in colours %}
      <a href="?colour_id={{ colour.id }}" class="dropdown-item">{{ colour.colour }}</a>
      {% endfor %}
    </div>
  </li>
</ul>

