<!-- Dropdown user options -->
<li class="list-inline-item d-lg-none d-none d-sm-block">
    <!----- Brand Name / Logo home links ----->
    <a href="{% url 'home' %}" class="navbar-brand">
        <img src="media/FLASH-BADGE-LOGO-WHITE.png" width="50" height="50" class="mb-3 mx-2 d-inline-block " alt="logo">
        <span class="brand-titles">Flash Empire Apparel</span>
    </a>
</li>
<!----- Brand logo home link for small screens ----->
<li class="list-inline-item d-block d-sm-none d-md-none m-auto">
    <a href="{% url 'home' %}">
        <img src="media/FLASH-BADGE-LOGO-WHITE.png" width="50" height="50" class="mb-3 mx-2 d-inline-block " alt="logo">
    </a>
</li>
<!-- User's shopping basket -->
<li class="list-inline-item">
    <a class="{% if grand_total %}text-white {% else %}text-earth{% endif %} nav-link d-block d-lg-none" href="#">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>