<div class="d-lg-none d-none d-sm-block p-2">
    <a href="{% url 'home' %}" class="navbar-brand">
        <img src="{{ MEDIA_URL }}FLASH-BADGE-LOGO-WHITE.png" width="50" height="50"
            class="mb-3 mx-2 d-inline-block " alt="logo">
        <span class="brand-titles">Flash Empire Apparel</span>
    </a>
</div>
<div class="d-block d-sm-none d-md-none">
    <a href="{% url 'home' %}">
        <img src="{{ MEDIA_URL }}FLASH-BADGE-LOGO-WHITE.png" width="50" height="50"
            class="my-2 mx-2 d-inline-block " alt="logo">
    </a>
</div>
<div class="mx-3">
    <a class="{% if grand_total %}text-white{% else %}text-earth{% endif %} nav-link d-block d-lg-none"
    href="{% url 'view_bag' %}">
    <div class="text-center">
        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
        <p class="my-0">
            {% if grand_total %}
            £{{ grand_total|floatformat:2 }}
            {% else %}
            £0.00
            {% endif %}
        </p>
    </div>
</a>
</div>