{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| All Products
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!----- White background overlay ----->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row"></div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col mt-5 d-flex">
                    <h2 class="uppercase h1 lttr-space logo-font text-black">The Blog</h2>
                    <!----- Add Blog Post Btn ----->
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_blog_post' %}" class="btn rounded-0 slanted-div bg-earth font-25 hover-bg-black ml-auto py-2">
                        <i class="fa-solid fa-plus"></i> Add Blog Post</a>
                    {% endif %}
                </div>
            </div>
            <hr>
            <!----- Blog Posts ----->
            <div class="row">
                {% for post in posts %}
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="card h-100 border-0 m-3">
                        {% if post.featured_image %}
                        <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top img-fluid"
                                src="{{ post.featured_image.url }}" alt="" height="100%" width="100%"></a>
                        {% else %}
                        <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top img-fluid blog-card p-2"
                                src="{{ MEDIA_URL }}FLASH-BADGE-LOGO-WHITE.png" alt="blog-post"></a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <hr>
                            <a href="{% url 'post_detail' post.slug %}" class="no-underline text-black hover-red">
                                <h3 class="uppercase lttr-space text-center">{{ post.title }}
                                    <!----- Edit Blog Post Btn ----->
                                    {%  if request.user.is_superuser %}
                                    <a href="{% url 'edit_blog_post' post.slug %}" class="" aria-label="edit product">
                                        <i class="fa-solid fa-pen text-red"></i>
                                    </a>
                                    {% endif %}</h3>
                            </a>
                            <p class="text-center small">Created On: {{ post.created_on }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}