{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}
<h1 class="lttr-space text-uppercase mt-5">{% trans "Account Inactive" %}</h1>
<hr>

<p>{% trans "This account is inactive." %}</p>
  <!-- Home link -->
  <p>
    <a class="button secondaryAction text-red hover-red no-underline" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
  <a href="{% url 'home' %}" class="btn text-black font-25 lttr-space"><i class="fas fa-chevron-left text-red"></i>
    Home</a>
{% endblock %}
