{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h1 class="lttr-space text-uppercase mt-5">{% trans "Set Password" %}</h1>
    <hr>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

    <!-- Home link -->
    <a href="{% url 'home' %}" class="btn text-black font-25 lttr-space"><i class="fas fa-chevron-left text-red"></i>
        Home
    </a>
{% endblock %}
