/* Turns scrollable at max-height of 80vh */
.shopping-bag-wrapper {
  padding-right: 20px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#submit-btn:hover {
  background-color: #000;
  color: #D5A761;
  transition: 0.3s;
}

/* Stripe Element */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #8A868F;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    border: 1px solid #000;
    border-radius: 5px;
}