{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!----- Overlay ----->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-3">
            <h1 class="logo-font my-4 lttr-space">Product Management</h1>
            <hr>
            <h2 class="lttr-space text-center mb-3">Edit Product</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-10 m-auto">
            <form action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <!----- Removes Image Label ----->
                    {% if field.name != 'image' %}
                        {{ field|as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="row">
                    <!----- Remove Product Btn ----->
                    <div class="col-lg-6 col-sm-6 order-last">
                        <a href="{% url 'remove_product' product.id %}" class="btn w-100 mt-3 font-25 slanted-div rounded-0" id="remove-btn">
                            Remove Product
                        </a>
                    </div>
                    <!----- Confirm Edit Btn ----->
                    <div class="col-lg-6 col-sm-6 text-right">
                        <button class="btn font-25 mt-3 w-100 rounded-0 slanted-div hover-bg-black bg-earth" type="submit">
                         Update Product
                        </button>
                    </div>
                </div>
                <!----- Cancel Edit Btn ----->
                <a href="{% url 'product_detail' product.id %}" class="btn w-100 mt-3 font-25 slanted-div rounded-0" id="cancel-form-btn">
                   Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!----- Script for displaying new image file name. ----->
<script type="text/javascript">
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`New Image: ${file.name}`);
    });
</script>

{% endblock %}