{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| All Products
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!----- White background overlay ----->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row"></div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
                <div class="col mt-5">
                    <h2 class="uppercase h1 lttr-space logo-font text-black">All Products</h2>
                    <p class="font-25 text-red">Discover our range of tattoo inspired streetwear clothing. Flash Empire
                        Apparel was founded by a one man army
                        and inspired by self-expression. We offer alternative clothing to the everyday. From graphic
                        t-shirts, sweatshirts, joggers, caps and bags.</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <!----- Filter/Sorting Display ----->
                <div class="col-8 mb-4">
                    {% include 'includes/filter-display.html' %}
                </div>
                <!----- Product Counter ----->
                <div class="col-4 d-none d-sm-block">
                    <p class="text-right">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small text-red"><a href="{% url 'products' %}"
                                class="text-black no-underline hover-red">All Products</a> | </span>
                        {% endif %}
                        <span class="font-25 text-red">{{ products|length }}</span> Products{% if search_term %} found
                        for
                        <strong class="text-red">"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
                <!----- Product Card ----->
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <div class="card h-100 border-0 m-3">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}"><img class="card-img-top img-fluid"
                                    src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}"><img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}"></a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <hr>
                                <h5 class="lttr-space text-black uppercase">{{ product.name }}</h5>
                                <a class="card-link" href="{% url 'products' %}?category={{ product.category }}">
                                    <p class="text-black lttr-space slanted-div bg-earth">
                                        {{ product.category.friendly_name }}
                                    </p>
                                </a>
                                <p class="font-25 text-red">£{{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!----- BTT Button ----->
    <div class="d-none d-sm-block">
        <div class="btt-button">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up text-earth font-25 mx-auto my-auto"></i>
            </a>
        </div>
    </div>


    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        $('.btt-link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>

    {% endblock %}