{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!----- White background overlay ----->
<div class="overlay"></div>
<div class="container-fluid">
    <!----- Product Card ----->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 offset-lg-1 my-5">
            <div class="product-image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="#">
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-5">
            <div class="product-detail-container ml-5">
                <h1 class="lttr-space text-black uppercase">{{ product.name }}</h1>
                <p class="lttr-space text-red h1 mt-3">£{{ product.price }}</p>
                <p class="font-25 text-black mt-5">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}