{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!----- White background overlay ----->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row"></div>
    <!----- Product Card ----->
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
                <div class="col text-center my-5">
                    <h2 class="uppercase lttr-space logo-font">- All Products -</h2>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="card h-100 border-0 m-3">
                        {% if product.image %}
                        <a href="#"><img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        {% else %}
                        <a href="#"><img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"></a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <hr>
                            <h5 class="lttr-space text-black uppercase">{{ product.name }}</h5>
                            <a class="card-link" href="#"><p class="text-earth lttr-space ">{{ product.category }}</p></a>
                            <p class="font-25 text-red">£{{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}